@import "../../global.scss";

.navbar {
  height: 65px;
  width: 100%;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: fixed;

  .wrapper {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;

    .left {
      flex: 1;

      img {
        height: 55px;
        width: 55px;
      }
    }
    .center {
      flex: 3;
      h3 {
        color: white;
        text-align: center;
      }
    }

    .right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
      h4 {
        color: white;
      }
    }

    .left,
    .right,
    .center {
      @include mobile {
        transform: scale(0.7);
      }
    }
  }
}
