.navbar {
  height: 65px;
  width: 100vw;
  background-color: teal;
  // background-color: #6439ff;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;

    .left {
      flex: 1;

      img {
        height: 55px;
        width: 55px;
      }
    }
    .center {
      flex: 1;
      h3 {
        color: white;
        text-align: center;
      }
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
      h4 {
        color: white;
      }
    }
  }
}
