@import "../../global.scss";

.add-student {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .text-fields-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      align-items: center;
      justify-content: center;
      gap: 50px;
      .text-field {
        width: 300px;
        @include mobile {
          width: 100%;
        }
      }
    }

    .buttons-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;

      @include mobile {
        gap: 0px;
        flex-direction: column-reverse;
      }
      .button {
        width: 200px;
        border: none;
        background-color: $main-color;
        color: white;
        margin: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.cancel {
          background-color: #ff4444;
          &:hover {
            background-color: #ff4444ac;
            color: black;
          }
        }
        &:hover {
          background-color: lightblue;
          color: black;
        }
        @include mobile {
          width: 100%;
        }
      }
    }
  }
}

.students {
  width: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    text-align: center;
  }
  .top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    .search-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: 0.5px solid lightgray;
      padding: 0px 10px;
      @include mobile {
        transform: scale(0.7);
      }
      .icon {
        color: rgba(128, 128, 128, 0.766);
        margin: none;
        font-size: 20px;
      }
      input {
        border: none;
        outline: none;
        width: 300px;
        font-size: 14px;
        @include mobile {
          width: 150px;
        }
      }
      .form-control {
        width: 100px;
        border: 0;
        .input-label {
          font-size: 10px;
          margin-top: 5px;
        }
        .menu-item {
          font-size: 12px;
        }
      }
    }

    .buttons-wrapper {
      display: flex;
      gap: 30px;
      margin-right: 30px;
      @include mobile {
        gap: 10px;
        margin-right: 0px;
        transform: scale(0.7);
      }
      button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5),
          0 6px 20px 0 rgba(0, 0, 0, 0.2);
        border: none;
        outline: none;
        &.add {
          background-color: #0033cc;
        }
        &.print {
          background-color: gray;
        }
      }
    }
  }

  .students-container {
    padding: 20px;
  }
}

.student-card {
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      background-color: lightblue;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border-radius: 3px;
      position: sticky;
      top: $nav-height;

      th {
        padding: 10px;
        font-size: 16px;
        @include mobile {
          font-size: 10px;
        }
      }
    }
    tbody {
      tr {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: rgba(173, 216, 230, 0.3);
        }
        td {
          font-size: 14px;
          padding: 7px;

          @include mobile {
            font-size: 10px;
          }
        }
      }
    }

    tr {
      margin-bottom: 10px;

      #sr {
        flex: 0.5;
        text-align: center;
      }
      #name {
        flex: 2;
        text-align: left;
      }
      #father {
        flex: 2;
        text-align: left;
        @include mobile {
          display: none;
        }
      }
      #class {
        flex: 1;
        text-align: left;
      }
      #reg-no {
        flex: 1;
        text-align: center;
        @include mobile {
          display: none;
        }
      }
      #contact {
        flex: 2;
        text-align: center;
      }
      #tuition {
        flex: 1;
        text-align: center;
        @include mobile {
          display: none;
        }
      }
    }
  }
}

.student-details {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 20px;
    .top {
      display: flex;
      justify-content: flex-end;
      button {
        width: 40px;
        height: 25px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: white;
        border: none;
        outline: none;
        background-color: #e9ffff;
        right: 10px;
        &:hover {
          background-color: lightblue;
        }
        .icon {
          font-size: 18px;
        }
      }
    }
    .bottom {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      .left {
        width: 180px;
        height: 250px;
        border: 0.5px solid lightgray;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 10px;
        border-radius: 10px;
        color: $main-color;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
          align-self: center;
        }

        .contact {
          display: flex;
          align-items: center;
          gap: 7px;

          .icon {
            font-size: 20px;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        h3 {
          margin-top: 0;
        }
        span {
          margin: 7px;
        }
      }
    }
  }
}
