@import "../../global.scss";

.add-student {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .text-fields-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      align-items: center;
      justify-content: center;
      gap: 50px;
      .text-field {
        width: 300px;
        @include mobile {
          width: 100%;
        }
      }
    }

    .buttons-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;

      @include mobile {
        gap: 0px;
        flex-direction: column-reverse;
      }
      .button {
        width: 200px;
        border: none;
        background-color: green;
        color: white;
        margin: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.cancel {
          background-color: #ff4444;
          &:hover {
            background-color: #ff4444ac;
            color: black;
          }
        }
        &:hover {
          background-color: rgba(0, 128, 0, 0.701);
          color: black;
        }
        @include mobile {
          width: 100%;
        }
      }
    }
  }
}

.students {
  width: 100%;
  display: flex;
  flex-direction: column;
  .top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .search-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      border: 0.5px solid lightgray;
      padding: 0px 10px;
      input {
        border: none;
        outline: none;
        width: 300px;
        font-size: 14px;
      }
      .form-control {
        width: 100px;
        border: 0;
        .input-label {
          font-size: 10px;
          margin-top: 5px;
        }
        .menu-item {
          font-size: 12px;
        }
      }
    }
    .buttons-wrapper {
      display: flex;
      gap: 30px;
      margin-right: 30px;
      button {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5),
          0 6px 20px 0 rgba(0, 0, 0, 0.2);
        border: none;
        outline: none;
        &.add {
          background-color: #0033cc;
        }
        &.print {
          background-color: gray;
        }
      }
    }
  }
}
