@import "../../global.scss";

.students {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      font-size: 14px;
      font-weight: bold;
      color: #999;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .input-wrappers {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 60px;
      margin-bottom: 40px;
      flex-wrap: wrap;

      @include mobile {
        gap: 30px;
        margin-bottom: 30px;
        width: 100%;
      }

      .text-field {
        width: 300px;
        @include mobile {
          width: 100%;
        }
      }
    }
  }
}
