@import "../../global.scss";

.sidebar {
  width: $sidebar-width;
  height: 100%;
  border-right: 0.5px solid rgb(230, 227, 227);
  position: fixed;
  background-color: white;
  z-index: 2;

  @include mobile {
    width: $mob-sidebar-width;
  }

  .top {
    padding: 0px 10px;
    @include mobile {
      padding: 0px 5px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
        overflow: hidden;
      }
      li {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #b2d8d8;
        }

        .icon {
          font-size: 22px;
          color: teal;
        }
        span {
          font-size: 16px;
          font-weight: bold;
          color: #888;
          margin-left: 10px;

          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}
